 body{
    background: #f3f3f3;
}
.outer-box{
    background: white;
    width: 854px;
    margin: 0 auto;
    overflow: hidden;
}
.logo-box{
    text-align: center;
    padding-top: 40px;
}
.logo-box img{
    height: 60px;
    width: 60px;
}
.page-title{
    text-align: center;
}
.sign-box{
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}
.captcha_addon{
    padding: 0px;
    overflow: hidden;
}
.captcha_img{
    width: 94px;
    height: 32px;
    cursor: pointer;
}